<h1><%= @chef.name %>'s Ingredients</h1>
<h4>Ingredients the chef uses:</h4>
<% @chef.all_uniq_ingredients.each do |ingredient| %>
  <p>* <%= ingredient.name %></p>
  <% end %>
  <div class="most_popular"><h4>Most Popular Ingredients</h4>

  </div>